<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">

        <div id="deleteButtonDiv">
            <p-confirmDialog />
            <p-button
                icon="pi pi-trash"
                size="small"
                severity="secondary"
                (onClick)="deleteArticle()"
                styleClass="p-button-rounded"/>
        </div>

        <div id="titleDiv">{{article?.title}}</div>

        <div id="contentDiv" [innerHTML]="article?.content"></div>

    </div>
    <app-footer class="footer" id="footer"></app-footer>
</div>