/* header/footer wrapper */
#bodyDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
}

#contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

.footer {
    position: relative;
    bottom: 0;  
    width: 100%;
    margin-top: 30px;
}
/* header/footer wrapper */

#titleDivNonEdit {
    font-size: 300%;
    margin: 40px 40px 40px 40px;
}

#titleDivEdit {
    width: 40%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contentDivNonEdit, #contentDivEdit {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 45px;   
    line-height: 1.5;
}

#contentOutline {
    width: 40%;
    border-radius: 20px;
}

#tagsDivEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
}

#tagsDivNonEdit {
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
}

#actionButtonsDiv {
    width: 35%;
    margin: 20px 0px 20px 0px;
}

label {
    margin-right: 21px;
}   

#typeLabel {
    margin-right: 13px;
}

#typeDiv {
    width: 40%;
    margin-top: 1.5rem;
}