<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">

        <div *ngIf="shouldSpinnerWork" class="overlay">
            <p-progressSpinner styleClass="overlay-spinner"></p-progressSpinner>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login">
            <div id="usernameSection">
                <label id="usernameLabel" for="username">Username</label>
                <input id="usernameInput" formControlName="username" type="text" pInputText />

                <p-button id="credentialsDialogButton" (onClick)="showCredentialsDialog()" severity="secondary" [raised]="true" [rounded]="true"
                    [outlined]="true" icon="pi pi-info-circle" />
                <p-dialog header="Credentials for demo"  [(visible)]="credentialsDialogVisible" [style]="{ width: '20rem' }" >
                    <p>
                        login: river
                    </p>
                    <p>
                        password: wind
                    </p>
                </p-dialog>

            </div>
            <div>
                <label id="passwordLabel" for="password">Password</label>
                <input id="passwordInput" formControlName="password" type="password" pInputText />
            </div>

            <p-button [style]="{'height': '35px', 'width': 'auto', 'margin': '5px 5px 5px 5px'}" id="loginButton"
                type="submit" label="log in" [disabled]="loginForm.invalid" />

        </form>

    </div>
    <app-footer class="footer" id="footer"></app-footer>
</div>