
<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login">
            <div>
                <label id="usernameLabel" for="username">Username</label>
                <input id="usernameInput" formControlName="username" type="text" pInputText />

            </div>
            <div>
                <label id="passwordLabel" for="password">Password</label>
                <input id="passwordInput" formControlName="password" type="password" pInputText />
            </div>

            <p-button 
            [style]="{'height': '35px', 'width': 'auto', 'margin': '5px 5px 5px 5px'}"
            id="loginButton" 
            type="submit" 
            label="log in" 
            [disabled]="loginForm.invalid"/>

        </form>

        <div *ngIf="this.errorMessage">
            <span> Login failed </span>
        </div>

    </div>
    <app-footer class="footer" id="footer"></app-footer>
</div>