<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">

        <div id="searchForArticlesDiv">

            <div id="filtersPanel" [class.expanded]="showFilters">
                <div *ngIf="showFilters" class="filter-controls">
                    <p-dropdown id="typeFilterDropdown" [options]="articleTypes" [(ngModel)]="selectedType"
                        placeholder="type" />
                    <p-calendar id="dateFromFilterCalendar" [(ngModel)]="selectedDateFrom" placeholder="created from" />
                    -
                    <p-calendar id="dateToFilterCalendar" [(ngModel)]="selectedDateTo" placeholder="created to" />
                    <p-chips id="tagsInput" placeholder="add tags (max 5)" [(ngModel)]="selectedTags" [max]="5" />
                </div>
                <p-divider type="dashed" />
            </div>

            <div id="searchInputArea">
                <p-autoComplete id="searchInputText" placeholder="Search for articles here!" [size]="30"
                    [(ngModel)]="searchPhrase" [suggestions]="searchSuggestions"
                    (completeMethod)="searchForAutocompletes($event)" (keydown.enter)="searchForArticlesWithFilter()" />

                <p-button id="searchArticlesButton" icon="pi pi-search" [rounded]="true" [severity]="'secondary'"
                    (onClick)="searchForArticlesWithFilter()" />

                <span id="showFiltersLabel"> filters </span>
                <p-inputSwitch id="showFiltersSwitch" [(ngModel)]="showFilters" />
            </div>

        </div>

        <div *ngIf="isLoggedIn" id="createNewArticleDiv">
            <span>... or create a new one!</span>

            <p-button id="createNewArticleButton" icon="pi pi-arrow-right" [rounded]="true" [severity]="'primary'"
                [routerLink]="['/new-article']" />
        </div>

        <div id="searchArticlesContent">
            <ul *ngFor="let articleItem of articlesResults; let i = index">
                <div (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave()">
                    <app-result-item [routerLink]="['/article-details', articleItem.id]" [article]="articleItem"
                        [isHovered]="hoveredIndex === i"></app-result-item>
                </div>
            </ul>
            <div id="resultsMessageDiv" *ngIf="articlesResults.length === 0">{{ resultsMessage }}</div>
        </div>
    </div>
    <app-footer class="footer" id="footer"></app-footer>

    <div *ngIf="shouldSpinnerWork" class="overlay">
        <p-progressSpinner styleClass="overlay-spinner"></p-progressSpinner>
    </div>
</div>