<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">
        <div id="searchForArticlesDiv">

            <input id="searchInputText" type="text" placeholder="Search for articles here!" pInputText
                [(ngModel)]="searchPhrase" />

            <p-button id="searchArticlesButton" icon="pi pi-search" [rounded]="true" [severity]="'secondary'"
                (onClick)="searchForArticles(searchPhrase)" />
        </div>

        <div id="createNewArticleDiv">
            <span>... or create a new one!</span>

            <p-button id="createNewArticleButton" icon="pi pi-arrow-right" [rounded]="true" [severity]="'primary'"
                [routerLink]="['/new-article']" />
        </div>
    </div>
    <app-footer class="footer" id="footer"></app-footer>
</div>