
#bodyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
}

#contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    flex: 1;
}

#searchForArticlesDiv {
    margin: 220px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

#createNewArticleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#createNewArticleButton {
    margin-left: 20px;
}

#searchInputText {
    margin-right: 20px;
    width: 600px;
}

.footer {
    position: relative;
    bottom: 0;  
    width: 100%;
    margin-top: 10px;
}
