<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">

        <div *ngIf="shouldSpinnerWork" class="overlay">
            <p-progressSpinner styleClass="overlay-spinner"></p-progressSpinner>
            
        </div>

        <div id="allArticlesDiv">
            <ul *ngFor="let item of articlesResults; let i = index">
                <div (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave()">
                    <app-all-articles-item [routerLink]="['/article-details', item.id]" [article]="item" [isHovered]="hoveredIndex === i"></app-all-articles-item>
                </div>
            </ul>
        </div>

    </div>
    <app-footer class="footer" id="footer"></app-footer>
</div>