
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 1px 10px 1px;
}

.label {
    border-style: groove;
    border-radius: 40%;
    border-width: 2cap;
    margin: 10px 111px 10px 111px;   
}
