
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 1px 40px 1px;
}

.label {
    border-style: groove;
    border-radius: 40%;
    border-width: 2cap;
    margin: 20px 111px 4px 111px;   
}
