<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">

        <div class="container">
            <div class="emoji">🕵️‍♀️🔍</div>
            <h1>404 - Page Wandered Off!</h1>
            <p class="joke">
                Looks like this page decided to go on an unscheduled vacation. 
                We've sent out a search party, but it seems to have packed its bags 
                and ghosted us completely. Maybe it's sipping a piña colada 
                somewhere, laughing at our confusion.
            </p>
            <p>
                <a href="/">Return to Home</a>
            </p>
        </div>
    </div>
    <app-footer class="footer" id="footer"></app-footer>
</div>