
<app-header></app-header>
<div>

    <input type="text" placeholder="Write your title here!" pInputText [(ngModel)]="articleTitle" />

    <p-dropdown 
        styles="margin-bottom: 20px;"
        [options]="articleTypes" 
        [(ngModel)]="selectedType" 
        optionLabel="name"
        placeholder="Select a type" />

    <p-editor [(ngModel)]="content" [style]="{ height: '420px' }" />

    <button style="width: auto; margin-top: 20px;" (click)="createArticle()">
        create article
    </button>

</div>
<app-footer></app-footer>