
<app-header></app-header>
<div>

    <input type="text" placeholder="Write your title here!" pInputText [(ngModel)]="articleTitle" />

    <p-dropdown 
        styles="margin-bottom: 20px;"
        [options]="articleTypes" 
        [(ngModel)]="selectedType" 
        optionLabel="name"
        placeholder="Select a type" />

    <p-editor placeholder="Write your content here!" [(ngModel)]="content" [style]="{ height: '420px' }" />

    <p-button label="Create!" (onClick)="createArticle()" />

</div>
<app-footer></app-footer>