<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">

        <div *ngIf="shouldSpinnerWork" class="overlay">
            <p-progressSpinner styleClass="overlay-spinner"></p-progressSpinner>
        </div>

        <div class="card"></div>

        <div class="field-wrapper">
            <input id="articleTitle" type="text" placeholder="Write your title here!" pInputText
                [(ngModel)]="articleTitle" />
            <small *ngIf="fieldErrors['title']" class="p-error">{{ fieldErrors['title'] }}</small>
        </div>

        <div class="field-wrapper">
            <p-dropdown *ngIf="areArticleTypesPopulated()" id="articleTypesDropdown" [options]="articleTypes"
                [(ngModel)]="selectedType" optionLabel="name" placeholder="Select a type"
                [class.ng-invalid]="fieldErrors['type']" />
            <small *ngIf="fieldErrors['type']" class="p-error">{{ fieldErrors['type'] }}</small>
        </div>


        <div class="field-wrapper tagsInput">
            <p-chips placeholder="Add your tags!" [(ngModel)]="tags" />
        </div>

        <div class="field-wrapper">
            <p-editor id="editor" placeholder="Write your content here!" [(ngModel)]="content"
                [style]="{ height: '470px' }" />
            <small *ngIf="fieldErrors['content']" class="p-error">{{ fieldErrors['content'] }}</small>
        </div>

        <p-button id="createArticleButton" label="Create!" (onClick)="createArticle()" />

    </div>
    <app-footer class="footer" id="footer"></app-footer>
</div>