/* header/footer wapper */
#bodyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header {
    width: 100%;
}

#contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 60%;
    flex: 1;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* header/footer wapper */

#articleTitle {
    width: 70%;
    margin: 30px 10px 10px 0px;
}

#tagsInput {
    width: 70%;
    margin: 10px 10px 10px 0px;
}

#articleTypesDropdown {
    width: 70%;
    margin: 10px 10px 10px 0px;
}

#editor {
    width: 70%;
    margin: 10px 10px 10px 0px;
}

#createArticleButton {
    margin: 10px 10px 10px 0px;
    align-items: center;
}

:host ::ng-deep .custom-messages {
    height: 5%;
    width: 35rem;
  }