<div id="bodyDiv">
    <app-header class="header"></app-header>
    <div id="contentWrapper">

        <span>Exporting</span>

        <div>
            <p-button 
            label="export with HTML" 
            severity="secondary"    
            icon="pi pi-file-export"
            [style]="{'height': '35px', 'width': 'auto', 'margin': '5px 5px 5px 5px'}"
            (onClick)="exportWithHTML()" />

            <p-button 
            label="export without HTML" 
            severity="secondary"    
            icon="pi pi-file-export"
            [style]="{'height': '35px', 'width': 'auto', 'margin': '5px 5px 5px 5px'}"
            (onClick)="exportWithoutHTML()" />
        </div>

        <span>Importing</span>

        <p-fileUpload name="upload" customUpload="true" (uploadHandler)="onUpload($event)" [multiple]="true" accept=".txt" maxFileSize="1000000" mode="advanced">
            <ng-template #empty>
                <div>Drag and drop files to here to upload.</div>
            </ng-template>
            <ng-template #content>
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>

    </div>
    <app-footer class="footer" id="footer"></app-footer>
</div>